/*
	Theme Name: Seowave
	Theme URI: http://lolthemes.com/demo/wpm/seowave
	Author: PremiumLayers
	Author URI: http://premiumlayers.net/
	Description: Seowave Premium WordPress Theme
	Version: 1.3
	License: GNU General Public License
	License URI: license.txt
	Tags: threaded-comments, theme-options, sticky-post, full-width-template, flexible-header, featured-images, custom-menu, custom-header, custom-colors, custom-background
	Text Domain: seowave
*/

.m0 {
	margin: 0;
}

.p0,
.no-padding {
	padding: 0;
}

.vc_row.fixedlayout {
	margin: 0 auto;
}

.left-padding {
	padding-left: 0 !important;
}

.right-padding {
	padding-right: 0 !important;
}

.pt70 {
	padding-top: 70px;
}

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

body {
	position: relative;
}

main,
footer {
 overflow-x: hidden;
}

/* Floating */
.fleft {
	float: left;
}
.fright {
	float: right;
}

/* Section Fix */
section.row, header.row, footer.row {
	margin: 0;
	position: relative;
}


.page_title.comment_leave_title::after {
    margin: 10px 0 40px;
}

.page_case_study .trenz_master h2::after {
    margin-bottom: 15px;
}

.page_title::after {
    background: #ea9c50 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    margin: 15px 0 45px;
    width: 40px;
}
.page_title.trenz_master_title {
    font-size: 30px;
}
.page_title {
    font-family: "Cabin",sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
}

.contentRow {
	padding: 120px 0;
}
/*Ancore*/
a, .btn, button {
	outline: none;
	transition: all 300ms ease-in-out 0s;
}
a:focus, .btn:focus, button:focus, a:hover, .btn:hover, button:hover {
	outline: none;
	text-decoration: none;
	transition: all 300ms ease-in-out 0s;
}
/*----------------------------------------------------------------*/
.borderred_link {
	margin-top: 30px;
	display: inline-block;
	line-height: 40px;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	border-radius: 25px;
	padding: 0;
	position: relative;
	border: none;
	margin-left: 3px;
}
.borderred_link span {
	background: #27ae61;
	display: block;
	padding: 0 35px;
	border-radius: 25px;
	letter-spacing: 0.5px;
}
.borderred_link:after {
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	bottom: -3px;
	right: -3px;
	border: 3px solid rgba(0, 0, 0, 0.08);
	border-radius: 25px;
	opacity: 1;
	transition: all 300ms ease-in-out 0s;
}
.borderred_link:hover {
	color: #fff;
}
.borderred_link:hover:after {
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	opacity: 0;
	border-radius: 0;
	border: 3px solid rgba(0, 0, 0, 0.2);
}
.register_link {
	padding: 30px 40px;
	text-align: center;
	border-bottom: 3px solid #27ae61;
	background: #f8f8f8;
	margin-top: 50px;
}
.register_link h5 {
	margin: 0 0 15px;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	color: #232323;
	line-height: 24px;
}
.register_link a {
	margin: 0;
}
.register_link a:after {
	border-color: #eaeaea;
	border-radius: 100%;
}
.register_link a span {
	width: 88px;
	height: 88px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	background: #e99544;
	border-radius: 100%;
	padding: 27px 0 0;
	text-align: center;
	line-height: 20px;
}
.register_link p {
	font-family: 'Droid Serif', serif;
	color: #232323;
	font-size: 13px;
	letter-spacing: 0.5px;
	line-height: 1;
	margin-top: 15px;
	font-style: italic;
}
.lh45 {
	line-height: 45px;
}
.dot270 {
	height: 270px;
	margin: 0;
	background: url('images/dot-pattern.png') repeat scroll 0 0; 
	position: relative;
	z-index: -1;
	margin-top: -83px;
}
/*----------------------------------------------------------------*/
.header-main .top_row {
	background-color: #F5F6F7;
}
.header-main .top_row .tagLine {
	font-size: 11px;
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #777777;
	line-height: 50px;
}
.top_row .tagLine i {
	font-size: 15px;
	float: left;
	line-height: 50px;
	margin-right: 5px;
}
.top_row .navbar-right {
	width: 100%;
	text-align: right;
}
.top_row .navbar-right li,
.top_row .navbar-right li a {
	display: inline-block;
}
.top_row .navbar-right li {
	padding: 0 15px;
}
.top_row .navbar-right li:hover{
	background-color: #eeeeee;
}
.top_row .navbar-right li a {
	font-size: 11px;
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #777777;
	line-height: 50px;
	padding: 0;
}
.top_row .navbar-right li img {
	margin-right: 5px;
}

.header-main .logo_row {
	padding: 32.5px 0;
}
.logo_row .nav {
	float: right;
}
.logo_row .nav li {
	display: inline-block;
	margin-left: 15px;
	float: left;
}
.logo_row .nav li a {
	padding: 0 15px 0 0;
	border-radius: 50px;
	border: 1px solid #ebeef0;
	height: 42px;
	font-family: 'Cabin', sans-serif;
	font-size: 12px;
	color: #777;
	letter-spacing: 0.5px;
	line-height: 40px;
}
.logo_row .nav li a .first-word {
	color: #232323;
}
.logo_row .nav li a .icon {
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
	background: no-repeat scroll center center transparent;
	margin-right: 15px;
	border-right: 1px solid #ebeef0;
}
.logo_row .nav li a .icon.phone {
	background-image: url('images/icons/menu/phone-c.png');
}
.logo_row .nav li a .icon.email {
	background-image: url('images/icons/menu/email-c.png');
}
.logo_row .nav li a .icon.share {
	background-image: url('images/icons/menu/share.png');
	margin-right: 0;
	border: none;
}
.logo_row .nav li:first-child {
	margin-left: 0;
}

.menu_row {
	background: #27ae61;
}
.menu_row .navbar-nav > li a {
	color: #ffffff;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    line-height: 57px;
    padding: 0 26px;
    position: relative;
	text-transform: uppercase;
}

.menu_row .navbar-nav > li > a:after {
	position: relative;
	content: '';
	width: 0;
	height: 3px;
	background: #fff;
	display: block;
	transition: all 300ms ease-in-out 0s;
}
.menu_row .navbar-nav > li > a:hover:after, 
.menu_row .navbar-nav > li > a:focus:after,
.menu_row .navbar-nav > li.current-menu-item > a:hover:after, 
.menu_row .navbar-nav > li.current-menu-item > a:focus:after,
.menu_row .navbar-nav > li.current-menu-item > a:after {
	width: 100%;
}
.menu_row .nav li a:hover, 
.menu_row .nav li a:focus,
.menu_row .nav > li.current-menu-item > a:hover, 
.menu_row .nav > li.current-menu-item > a:focus,
.menu_row .nav > li.current-menu-item > a {
	background: none;
	color: #fff;
}
.menu_row .search_form_area {
	float: right;
}

.menu_row .search_form_area .free_analysis {
	float: right;
	border: none;
	background: rgba(0, 0, 0, 0.06);
	line-height: 60px;
	padding: 0 10px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.menu_row .search_form_area form .input-group {
	width: 100%;
	position: relative;
}
.menu_row .search_form_area form .input-group span {
	padding: 0;
	line-height: 60px;
	color: #fff;
	background: none;
	border-radius: 0;
	border: none;
	position: absolute;
	left: 0;
	font-size: 18px;
	transition: all 300ms ease-in-out 0s;
	background-color: transparent;
	width: 50px;
	z-index: 5;
}
.menu_row .search_form_area form .input-group span button {
	transition: all 300ms ease-in-out 0s;
	margin-left: 0;
}
.menu_row  .searchform .input-group .input-group-btn .btn-default {
	background: none;
	border: none;
	box-shadow: none;
	text-shadow: none;
	color: #fff;
	padding: 0;
}
.menu_row .search_form_area form .input-group input {
	padding: 0 15px 0 50px;
	line-height: 60px;
	height: 60px;
	background: none;
	border-radius: 0;
	width: 100%;
	color: #fff;
	font-family: 'Cabin', sans-serif;
	font-size: 15px;
	border: none;
	box-shadow: none;
	display: block;
	transition: all 300ms ease-in-out 0s;
	font-style: italic;
	letter-spacing: 0.5px;
}
.menu_row .search_form_area .input-group-btn .fa.fa-search {
	font-size: 18px;
}
.menu_row .search_form_area form .input-group input:focus {
	background: #25A45B;
}
.menu_row .search_form_area form .input-group input:focus + span button {
	margin-left: 15px;
}
.menu_row .search_form_area form .input-group input::-webkit-input-placeholder { /* Safari, Chrome and Opera */
	opacity: 0;
}
.menu_row .search_form_area form .input-group input:-moz-placeholder { /* Firefox 18- */
	opacity: 0;
}
.menu_row .search_form_area form .input-group input::-moz-placeholder { /* Firefox 19+ */
	opacity: 0;
}
.menu_row .search_form_area form .input-group input:-ms-input-placeholder { /* IE 10+ */
	opacity: 0;
}
.menu_row .search_form_area form .input-group input::-ms-input-placeholder { /* Edge */
	opacity: 0;
}
.menu_row .nav li .dropdown-menu > .active > a, 
.menu_row .nav li .dropdown-menu > .active > a:hover, 
.menu_row .nav li .dropdown-menu > .active > a:focus {
	background-color: transparent;
	background-image: none;
}
.trial30_banner {
	height: 227px;
	padding-top: 60px;
	color: #fff;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #65a76b;
}
.trial30_banner h2 {
	font-size: 35px;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 0.5px;
	margin-top: 10px;
}
.trial30_banner h2:after {
	display: block;
	content: '';
	width: 40px;
	height: 3px;
	background: #fff;
	margin: 7px 0 15px;
}
.trial30_banner h5 {
	font-size: 13px;
	font-family: 'Droid Serif', serif;
	font-style: italic;
	letter-spacing: 0.5px;
}
.trial30_banner a:after {
	border-color: #fff;
}
.trial30_banner a span {
	background: #232323;
}
/*----------------------------------------------------------------*/
.feature_col .media-left {
	padding: 0;
}
.feature_col .media-left a {
	width: 55px;
	height: 55px;
	line-height: 55px;
	border: 1px solid #27ae61;
	text-align: center;
	box-shadow: 4px 4px 0 #f4f6f7;
	display: block;
	transition: all 300ms ease-in-out 0s;
}
.feature_col .media-body {
	padding-left: 20px;
}
.feature_col .media-body h5 {
	margin-top: 0;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: #232323;
	margin-bottom: 15px;
}
.feature_col .media-body h5:after {
	background: #cdd4d8;
	content: '';
	display: block;
	width: 38px;
	height: 2px;
	margin-top: 10px;
}
.feature_col .media-body p {
	font-size: 12px;
	font-family: 'Droid Serif', serif;
	line-height: 22px;
	letter-spacing: 0.5px;
	color: #777777;
	margin-bottom: 10px;
}
.feature_col .media-body a {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: 400;
	color: #777777;
}
.feature_col:hover .media-left a {
	border: 2px solid #27ae61;
	line-height: 53px;
}

/*----------------------------------------------------------------*/
.service_box {
	height: 314px;
	overflow: hidden;
	text-align: center;
	position: relative;
	padding: 7.5px;
}
.service_box > .row {
	margin: 0;
}
.service_box .service_box_inner {
	margin: 0;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.service_box .preview_box {
	height: 100%;
	background: url('images/dot-pattern.png') repeat scroll 0 0 #ffffff;
	margin: 0;
}
.service_box .preview_box img {
	margin-top: 75px;
	margin-bottom: 25px;
	width: 105px;
}
.service_box .preview_box h6 {
	margin: 0;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #232323;
	text-transform: uppercase;
	font-weight: bold;
}
.service_box .hover_box {
	background: url('images/dot-pattern.png') repeat scroll 0 0 #ffffff;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: -100%;
	width: 100%;
	height: 100%;
	padding: 50px;
	margin: 0;
	overflow: hidden;
	transition: all 300ms ease-in-out 0s;
}
.service_box .hover_box .inner {
	position: relative;
	height: 100%;
}
.service_box .hover_box .inner h6 {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #232323;
	line-height: 24px;
	text-transform: uppercase;
	display: block;
	width: 100%;
	top: -200px;
	left: 0;
	margin: 0;
	transition: all 300ms ease-in-out 0s;
	transition-delay: 0.1s;
}
.service_box .hover_box .inner h6:after {
	content: '';
	display: block;
	margin: 10px auto 0;
	height: 3px;
	width: 30px;
	background: #27ae61;
	line-height: 1;
}
.service_box .hover_box .inner .about {
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	line-height: 24px;
	color: #777777;
	margin: 0;
	width: 100%;
	position: absolute;
	top: 77px;
	left: 150%;
	transition: all 300ms ease-in-out 0s;
	transition-delay: 0.2s;
}
.service_box .hover_box .inner .read_more {
	text-transform: uppercase;
	position: absolute;
	bottom: -150px;
	left: -50px;
	right: -50px;
	background: rgba(0, 0, 0, 0.04);
	line-height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 11px;
	color: #232323;
	transition: all 300ms ease-in-out 0s;
	transition-delay: 0.3s;
}
.service_box:hover .hover_box {
	left: 0;
}
.service_box:hover .hover_box h6 {
	top: 25px;
}
.service_box:hover .hover_box .about {
	left: 0;
}
.service_box:hover .hover_box .read_more {
	bottom: -50px;
}

.layout_two .service_box_inner .about p {
	max-height: 73px;
	overflow: hidden;
}

.discover_services .heading_secs {
	margin: 2px 0;
	background: url('images/dot-pattern.png') repeat scroll 0 0 #ffffff;
	float: none;
	display: table-cell;
	padding: 90px 60px 0 85px;
}
.discover_services .heading_secs .discover_heading {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	font-size: 35px;
	line-height: 40px;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
	color: #232323;
}
.discover_services .heading_secs .sub_heading {
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.5px;
	margin-bottom: 0;
	font-weight: 300;
	color: #777777;
}
.discover_services .heading_secs .sub_heading:after {
	display: block;
	margin: 15px 0 20px;
	content: '';
	height: 3px;
	width: 50px;
	background: #d9d9d9;
}
.discover_services .heading_secs .about {
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	line-height: 26px;
	letter-spacing: 0.5px;
	margin-bottom: 45px;
	color: #777777;
}
.discover_services .heading_secs .subscribe_btn {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	line-height: 40px;
	border: 2px solid #27ae61;
	border-radius: 25px;
	padding: 0 28px;
	color: #232323;
}
.discover_services .heading_secs .subscribe_btn:hover {
	background: #27ae61;
	color: #fff;
	font-weight: 400;
}
.discover_services .services_secs {
	padding-left: 4px;
	padding-right: 0;
	float: none;
	display: table-cell;
}
.discover_services .services_secs .service_box {
	padding: 2px 0;
}
.discover_services .services_secs .service_box:nth-child(3n+2) {
	padding: 2px 4px;
}
.page_services .title_row {
	text-align: center;
	margin: 0 auto 60px;
	max-width: 780px;
}
.page_services .title_row h2 {
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	font-size: 32px;
	color: #232323;
	line-height: 1;
	margin: 0 0 10px;
}
.page_services .title_row h2:after {
	display: block;
	content: '';
	width: 40px;
	height: 2px;
	background: #e99544;
	margin: 10px auto 0;
}
.page_services .title_row h5 {
	font-family: 'Droid Serif', serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 26px;
	margin: 0;
	color: #777777;
}
.page_services .title_row h5 span {
	text-decoration: underline;
	color: #27ae61;
}
.services_list li + li {
	margin-top: 2px;
}
.nav.services_list li a {
	line-height: 45px;
	padding: 0 0 0 35px;
	background: #f8f8f8;
	color: #232323;
}
.services_list li a:after {
	content: "\25A0";
	width: 25px;
	line-height: 45px;
	float: left;
	color: #cecece;
}
.nav.services_list li a:hover {
	color: #fff;
	background: #27ae61;
}
.services_list li a:hover:after {
	color: #fff;
}
.page_service_details .service_descs {
	padding-right: 30px;
}
.page_service_details .service_descs .fpara {
	width: calc(100% - 360px);
	padding-right: 50px;
}
.page_service_details .service_descs .fpara h3 {
	font-size: 26px;
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	color: #232323;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 20px;
}
.page_service_details .service_descs .fpara h3:after {
	display: block;
	content: '';
	width: 50px;
	height: 2px;
	background: #e99544;
	margin: 10px 0 0;
}
.page_service_details .service_descs .fpara p {
	line-height: 26px;
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	color: #777777;
	margin-bottom: 40px;
	letter-spacing: 0.5px;
}
.page_service_details .service_descs .fpara ul {
	margin-bottom: 75px;
}
.page_service_details .service_descs .fpara ul li {
	line-height: 30px;
	font-family: 'Droid Serif', serif;
	letter-spacing: 0.5px;
	color: #232323;
}
.page_service_details .service_descs .fpara ul li i {
	margin: 0 20px;
	width: 30px;
	height: 30px;
	border: 2px solid #f2f2f2;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
	color: #27ae61;
	border-radius: 100%;
}
.page_service_details .service_descs .fpara ul li + li {
	margin-top: 22px;
}
.page_service_details .service_descs .sv_subtitle {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 15px;
	color: #232323;
}
.page_service_details .service_descs .f12 {
	font-size: 12px;
}
.page_service_details .service_descs .f13 {
	font-size: 13px;
	font-family: 'Droid Serif', serif;
	line-height: 24px;
	color: #777777;
	letter-spacing: 0.5px;
	margin-bottom: 60px;
}

.page_service_details .service_descs .sv_subjects li {
	float: left;
	margin-bottom: 50px;
	width: calc(100% / 3);
}

.page_service_details .service_descs .sv_subjects li .media {
	margin-top: 0;
}
.page_service_details .service_descs .sv_subjects li .media-left {
	padding-right: 20px;
	text-align: center;
}
.page_service_details .service_descs .sv_subjects li .media-left span {
	width: 50px;
	height: 50px;
	display: block;
	line-height: 48px;
	border: 1px solid #27ae61;
	transition: all 300ms ease-in-out 0s;
}
.page_service_details .service_descs .sv_subjects li .media-body {
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	color: #232323;
	line-height: 26px;
	letter-spacing: 0.5px;
}
.page_service_details .service_descs .sv_subjects li:hover .media-left span {
	border: 2px solid #27ae61;
	line-height: 46px;
}
.page_service_details .service_descs .graph_row {
	text-align: center;
	margin-bottom: 15px;
}
.page_service_details .service_descs .graph_row .sv_subtitle_center {
	font-family: 'Cabin', sans-serif;
	font-size: 15px;
	line-height: 26px;
	margin-bottom: 20px;
	color: #232323;
}
.page_service_details .service_descs .graph_row img {
	display: inline-block;
}
.page_service_details .service_descs .funFacts {
	margin-top: 25px;
}
.page_service_details .service_descs .funFacts .fact h3 {
	font-size: 26px;
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	color: #27ae61;
}
.page_service_details .service_descs .funFacts .fact h3 img {
	margin-right: 10px;
}
.page_service_details .service_descs .funFacts .fact h6 {
	font-family: 'Montserrat', sans-serif;
	color: #232323;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
	margin: 0;
}
/*----------------------------------------------------------------*/

.footer_widgets2 {
    color: #aaa;
	font-size: 13px;
	font-family: "Cabin",sans-serif;
}

.footer_widgets2 strong {
    color: #fff;
}

footer .top_footer {
	background: url('images/footer-map.png') no-repeat scroll center top #2a2f36;
}
footer .top_footer .footer_widgets {
	padding: 80px 0;
}

footer .top_footer .footer_widgets2 {
	line-height: 78px;
	text-align: center;
	background: #34383e;
	margin-bottom: -40px;
	position: relative;
	z-index: 2;
}
footer .top_footer .footer_widgets2 .nav {
	margin: 0;
}
footer .top_footer .footer_widgets2 .nav li a {
	padding: 0;
	font-family: 'Cabin', sans-serif;
	color: #aaa;
	font-size: 13px;
	display: inline-block;
	background: none !important;
	border-bottom: 2px solid transparent;
}
footer .top_footer .footer_widgets2 .nav li  img,
footer .top_footer .footer_widgets2 .nav li a img {
	margin-right: 10px;
	display: inline-block;
}
footer .top_footer .footer_widgets2 .nav li a strong {
	margin-right: 5px;
	color: #fff;
}
footer .top_footer .footer_widgets2 .nav li p {
	margin-bottom: 0;
	display: inline-block;
}
footer .top_footer .footer_widgets2 .nav li:hover a,
footer .top_footer .footer_widgets2 .nav li:hover p {
	background: none;
	border-bottom: 2px solid #27ae61;
}

/*footer .top_footer .footer_widgets2 .nav li:hover {
	background: none;
	border-bottom: 2px solid #27ae61;
	text-align: center;
}*/

footer .copyright {
	text-align: center;
	background: #22262c;
	padding-top: 40px;
	line-height: 80px;
	color: #aaa;
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	letter-spacing: 0.5px;
}
footer .copyright a {
	color: #aaa;
}
/*----------------------------------------------------------------*/
.page_404 .text-center {
	padding-top: 70px;
}
.page_404 .text-center img {
	display: inline-block;
}
.page_404 .text-center h2 {
	font-family: 'Montserrat', sans-serif;
	color: #232323;
	text-transform: capitalize;
}
.page_404 .text-center p {
	margin-bottom: 0;
	font-family: 'Droid Serif', serif;
	color: #777777;
	line-height: 26px;
	letter-spacing: 0.7px;
}
.page_404 .text-center .return_home {
	color: #232323;
}
.page_404 .text-center .return_home span {
	background: none;
}
.page_404 .text-center .return_home:after {
	border: 2px solid #27ae61;
}
/*----------------------------------------------------------------*/
label {
	font-family: 'Droid Serif', serif;
	letter-spacing: 1px;
	line-height: 1;
	font-size: 13px;
	margin-bottom: 8px;
}
label span {
	font-family: 'Cabin', sans-serif;
	color: #ff6766;
}
.form-control {
	border-radius: 0;
	height: 40px;
	border: 1px solid #e7e7e7;
	padding: 0 15px;
	box-shadow: none;
	margin-bottom: 15px;
}
.form-control.bootstrap-select {
	margin-bottom: 15px;
}
.selectpicker {
	border-radius: 0;
	height: 40px;
	border: 1px solid #e7e7e7;
	padding: 0 15px;
	box-shadow: none;
	margin-bottom: 15px;
	background: none;
	color: rgba(0, 0, 0, 0.2);
	font-family: 'Cabin', sans-serif;
}
textarea.form-control {
	height: 120px;
	resize: none;
	box-shadow: none;
}
input[type="radio"] {
	display: none;
}
input[type="radio"] + label {
	padding-left: 25px;
	background: url('images/checkout/radio1.png') no-repeat scroll left center transparent;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: 300;
	line-height: 20px;
}
input[type="radio"]:checked + label {
	padding-left: 25px;
	background-image: url('images/checkout/radio2.png');
}
.checkout_details {
	margin: 0 -7.5px;
}
.checkout_details .col-sm-6 {
	padding: 0 7.5px;
}
.checkout_details .col-sm-12 {
	padding: 0 7.5px;
}
.radios {
	margin-bottom: 20px;
}
.radios .radio_check {
	margin-right: 40px;
}
.ccinfos {
	padding: 45px 15px;
	background: #f7f8f9;
}
.ccinfos .col-sm-3 {
	padding: 0 7.5px;
}
.ccinfos .col-sm-3 .form-control {
	margin-bottom: 0;
}
.ccinfos .col-sm-3 label {
	text-transform: uppercase;
	font-family: 'Cabin', sans-serif;
	font-size: 10px;
	line-height: 22px;
	letter-spacing: 0.5px;
}
.ccinfos .col-sm-3 .row {
	margin: 0 -4px;
}
.ccinfos .col-sm-3 .row .col-xs-6 {
	padding: 0 4px;
}
.ccinfo_title {
	font-family: 'Droid Serif', serif;
	font-weight: 600;
	margin-top: 0;
	line-height: 1;
	margin-bottom: 10px;
	margin-left: 7.5px;
	letter-spacing: 0.5px;
}
.checkout_submit_btn {
	line-height: 45px;
	padding: 0 25px;
	border: 2px solid #27ae61;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 45px;
	background: #fff;
}
/*----------------------------------------------------------------*/
.title_row {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 60px;
	/*max-width: 580px; */
}
.title_row:after {
	display: block;
	content: '';
	width: 40px;
	height: 2px;
	background: #e99544;
	margin: 10px auto 0;
}
.title_row h2 {
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	font-size: 32px;
	color: #232323;
	line-height: 1;
	margin: 0 0 10px;
}
.section-desc p,
.title_row h5 {
	font-family: 'Droid Serif', serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	margin: 0;
	color: #777777;
}
.section-desc p code {
	border-radius: 0;
	color: #27ae61;
	font-size: 15px;
	background-color: transparent;
	padding: 0;
	text-decoration: underline;
	font-family:"Droid Serif",serif;
}
.title_row h5 span {
	text-decoration: underline;
	color: #27ae61;
	margin-bottom:  0;
}
.contactsubmit {
    clear: both;
    margin-bottom: 20px;
}
.wpcf7-mail-sent-ok {
	clear: both;
}
.contact_form .container {
	max-width: 820px;
}
.contact_form .container label span {
	color: #27ae61;
}
.contact_details {
	background: #f7f8f9;
	border-top: 1px solid #ececec;
}
.contact_details .col-sm-3 {
	height: 280px;
	padding: 53px 15px 0;
}
.contact_details .col-sm-3 + .col-sm-3 {
	border-left: 1px solid #ececec;
}
.contact_details .col-sm-3:after {
	content: '';
	width: 0;
	height: 0;
	border: 0 solid #27ae61;
	border-radius: 100%;
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 2;
	background: #fff;
	transition: all 300ms ease-in-out 0s;
}
.contact_details .col-sm-3:hover:after {
	width: 20px;
	height: 20px;
	border: 5px solid #27ae61;
	bottom: -10px;
	left: calc(50% - 10px);
}
.contact_details .col-sm-3 .icon_row {
	height: 45px;
}
.contact_details .col-sm-3 h4 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	color: #232323;
	line-height: 1.2;
}
.contact_details .col-sm-3 h4:after {
	display: block;
	content: '';
	width: 30px;
	height: 2px;
	background: #27ae61;
	margin: 8px auto 12px;
}
.contact_details .col-sm-3 p {
	color: #777777;
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	letter-spacing: 0.5px;
	line-height: 24px;
	margin: 0;
}
.contact_details .col-sm-3 p span {
	color: #232323;
}
.contact_details .col-sm-3 a.borderred_link {
	margin-top: 20px;
}

/* ---------------------------------------------------------------- */

.package {
	padding: 25px 0;
}
.package:nth-child(odd) {
	padding-right: 25px;
}
.package:nth-child(even) {
	padding-left: 25px;
}
.package .inner {
	background: url('images/dot-pattern.png') repeat scroll 0 0 transparent;
	margin: 0;
	padding: 50px 70px;
	position: relative;
}
.package .inner .popular_badge {
	position: absolute;
	top: 20px;
	right: 20px;
	text-transform: uppercase;
	line-height: 25px;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	color: #232323;
	letter-spacing: 0.2px;
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
}
.package .inner .col-sm-6 img {
	max-width: 100%;
}
.package .inner .col-sm-6:last-child {
	text-align: center;
	text-transform: uppercase;
}
.package .inner .col-sm-6:last-child h4 {
	margin-top: 15px;
	margin-bottom: 20px;
	line-height: 26px;
	font-size: 20px;
	font-family: 'Cabin', sans-serif;
	color: #000;
}
.package .inner .col-sm-6:last-child h2 {
	line-height: 1;
	color: #f08a47;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.2px;
	margin: 0;
}
.package .inner .col-sm-6:last-child h6 {
	line-height: 26px;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-bottom: 25px;
	margin-top: 0;
}
.package .inner .col-sm-6:last-child .details {
	line-height: 43px;
	padding: 1px 32px;
	border: 1px solid #dadada;
	background: #fff;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #232323;
	letter-spacing: 1.5px;
	border-radius: 25px;
}
.package .inner .col-sm-6:last-child .details:hover {
	background-color: transparent;
	border: 2px solid #27ae61;
	padding: 0 32px;
}
.detailsRow {
	margin-bottom: 80px;
}
.detailsRow .package_cover .row {
	background: url('images/dot-pattern.png') repeat scroll 0 0 transparent;
	text-align: center;
	padding: 55px 0;
	margin-right: 0;
}
.detailsRow .package_details {
	padding-right: 0;
}
.detailsRow .package_details .pkg_title {
	font-family: 'Cabin', sans-serif;
	line-height: 25px;
	letter-spacing: 0.5px;
	font-size: 20px;
	color: #232323;
	margin: 25px 0 10px;
	text-transform: uppercase;
}
.detailsRow .package_details .pkg_price {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 20px;
	margin-top: 0;
	color: #e99443;
}
.detailsRow .package_details .pkg_desk {
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	line-height: 24px;
	padding: 15px 0;
	border-top: 1px solid #e8e8e8;
	color: #777777;
}
.detailsRow .package_details .pkg_review {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	font-family: 'Cabin', sans-serif;
	line-height: 38px;
	letter-spacing: 0.5px;
}
.detailsRow .package_details .pkg_review i {
	color: #777777;
}
.detailsRow .package_details .pkg_review i.starred {
	color: #e99443;
}
.detailsRow .package_details .pkg_review i + i {
	margin-left: 3px;
}
.detailsRow .package_details .links a {
	float: left;
	text-align: center;
	margin-right: 30px;
	margin-top: 40px;
}
.detailsRow .package_details .links a:after {
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
}
.detailsRow .package_details .links a.buy_btn:after {
	border-color: #27ae61;
	border-radius: 35px;
}
.detailsRow .package_details .links a.buy_btn span {
	letter-spacing: 1px;
	background: #fff;
	color: #232323;
	line-height: 50px;
	padding: 0 55px;
	border-radius: 35px;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}
.detailsRow .package_details .links a.buy_btn:hover:after {
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	opacity: 1;
}
.detailsRow .package_details .links a.call_btn {
	padding: 10px 0;
	background: #27ae61;
}
.detailsRow .package_details .links a.call_btn span {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 1.4;
	letter-spacing: 1px;
}
.detailsRow .package_details .links a.call_btn span.tel {
	font-size: 11px;
	padding: 0;
}
.detailsRow .package_details .links a.call_btn:hover:after {
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
}
.detailsRow .package_details .links a.share_btn {
	line-height: 50px;
	display: inline-block;
	border-radius: 50px;
	border: 1px solid #ebeef0;
	height: 52px;
	font-family: 'Cabin', sans-serif;
	font-size: 12px;
	color: #777;
	letter-spacing: 0.5px;
	margin-right: 0;
}
.detailsRow .package_details .links a.share_btn .icon {
	float: left;
	width: 50px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	background: no-repeat scroll center center transparent;
	border-right: 1px solid #ebeef0;
}
.detailsRow .package_details .links a.share_btn .icon.share {
	background-image: url('images/icons/menu/share.png');
	margin-right: 0;
	border: none;
}
.pkg_tab {
	margin-bottom: 75px;
}
.pkg_tab #pkg_tab {
	text-transform: capitalize;
}
.pkg_tab #pkg_tab li a {
	border-radius: 0;
	border: 1px solid #e8e8e8;
	border-bottom: none;
	margin: 0;
	color: #232323;
	font-family: 'Droid Serif', serif;
	line-height: 40px;
	padding: 0 38px;
	transition: all 300ms ease-in-out 0s;
}
.pkg_tab #pkg_tab li + li {
	margin-left: -1px;
}
.pkg_tab #pkg_tab li.active a {
	border-top: 3px solid #27ae61;
	margin-top: -1px;
}
.pkg_tab .tab-content {
	border-radius: 0;
	border: 1px solid #e8e8e8;
	border-top: none;
}
.pkg_tab .tab-content .tab-pane {
	padding: 30px;
}
.pkg_tab .tab-content .tab-pane .tab_title {
	margin-bottom: 40px;
	font-size: 22px;
	font-family: 'Cabin', sans-serif;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #232323;
}
.pkg_tab .tab-content .tab-pane .tab_lists {
	width: 50%;
	float: left;
}
.pkg_tab .tab-content .tab-pane .tab_lists li {
	letter-spacing: 0.5px;
	line-height: 20px;
	color: #777777;
	padding-left: 40px;
	font-family: 'Droid Serif', serif;
}
.pkg_tab .tab-content .tab-pane .tab_lists li + li {
	margin-top: 20px;
}
.pkg_tab .tab-content .tab-pane .tab_lists li:before {
	content: "\25A0";
	width: 40px;
	line-height: 1;
	display: inline-block;
	color: #27ae61;
	padding-left: 5px;
	text-align: center;
	margin-left: -40px;
	letter-spacing: 0;
}
.custom_pkg_request h3 {
	font-family: 'Cabin', sans-serif;
	line-height: 24px;
	letter-spacing: 0.5px;
	padding: 0 15px;
}
.custom_pkg_request h3:after {
	display: block;
	content: '';
	width: 40px;
	height: 2px;
	background: #e99544;
	margin: 10px 0 45px;
}
.custom_pkg_request span.optional {
	color: #e8e8e8;
}
.custom_pkg_request textarea {
	height: 120px;
	margin-bottom: 0;
}
/*----------------------------------------------------------------*/
.pricingTab #pricingTab {
	position: relative;
	text-transform: uppercase;
	border: none;
	width: 289px;
	margin: 0 auto 80px;
	height: 47px;
}
.pricingTab #pricingTab:after {
	content: 'or';
	position: absolute;
	top: 11px;
	left: 136px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	border-radius: 100%;
	background: #27ae61;
	font-family: 'Montserrat', sans-serif;
	font-size: 8px;
	letter-spacing: 1.5px;
	text-align: center;
}
.pricingTab #pricingTab li a {
	padding: 0 37px;
	line-height: 45px;
	border: 1px solid #e8e8e8;
	margin: 0;
	border-radius: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 1.5px;
	color: #232323;
}
.pricingTab #pricingTab li + li {
	margin-left: -1px;
}
.pricingTab #pricingTab li.active a {
	background: #27ae61;
	color: #fff;
}
.pricingTab #pricingTab li:first-child a {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.pricingTab #pricingTab li:last-child a {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.pricing_table .inner {
	border: 1px solid #f4f4f4;
	text-align: center;
	padding: 0 85px 50px;
}
.pricing_table .inner .pricing_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 82px;
	letter-spacing: 1.8px;
	position: relative;
	margin: 0;
	text-transform: uppercase;
	color: #232323;
}
.pricing_table .inner .pricing_title:before {
	content: '';
	width: 98px;
	height: 3px;
	background: #e4e7e9;
	margin: 0 auto;
	display: block;
	transition: all 300ms ease-in-out 0s;
}
.pricing_table .inner .pricing_price {
	height: 65px;
	border-bottom: 1px solid #f4f4f4;
	margin: 0 -95px 95px;
}
.pricing_table .inner .pricing_price .round_box {
	width: 130px;
	height: 130px;
	border-radius: 100%;
	border: 4px solid #f6f6f8;
	overflow: hidden;
	margin: 0 auto;
	background: #fff;
	font-family: 'Droid Serif', serif;
	letter-spacing: 0.5px;
	color: #777777;
	line-height: 24px;
	font-style: italic;
}
.pricing_table .inner .pricing_price .round_box .price_inner {
	width: 100%;
	height: 100%;
	display: block;
	border: 1px solid #27ae61;
	border-radius: 100%;
	padding-top: 30px;
}
.pricing_table .inner .pricing_price .round_box .price_inner .price {
	font-size: 30px;
	font-weight: bold;
	color: #232323;
	line-height: 1.2;
	font-style: normal;
}
.pricing_table .inner .feature li {
	float: left;
	text-align: left;
	margin-bottom: 30px;
	font-family: 'Droid Serif', serif;
	letter-spacing: 0.5px;
}
.pricing_table .inner .feature li:before {
	color: #27ae61;
	font: normal normal normal 14px/1 FontAwesome;
	margin-right: 20px;
}
.pricing_table .inner .feature li.fa-times-circle {
	color: #c8c8c8;
}
.pricing_table .inner .feature li.fa-times-circle:before {
	color: #fc4242;
}
.pricing_table .inner .purchase_btn {
	line-height: 43px;
	border: 1px solid #f4f4f4;
	border-radius: 30px;
	display: inline-block;
	padding: 0 42px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #232323;
	margin-top: 20px;
	transition: all 300ms ease-in-out 0s;
}
.pricing_table .inner:hover .pricing_title:before {
	background: #27ae61;
}
.pricing_table .inner:hover .purchase_btn {
	background: #27ae61;
	color: #fff;
	border: 2px solid #eaeff1;
	line-height: 41px;
}
.pricing_table.standard .inner .pricing_title:before {
	background: #27ae61;
}
.pricing_table.standard .inner .purchase_btn {
	background: #27ae61;
	color: #fff;
	border: 2px solid #eaeff1;
	line-height: 41px;
}
.page_faq {
	background: #f7f8f9;
}

.page_faq .faqs .col-sm-6 .faq {
	margin-top: 40px;
}

.page_faq .faqs .col-sm-6 .faq h5 {
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.5px;
	line-height: 24px;
	color: #232323;
	margin-bottom: 20px;
}
.page_faq .faqs .col-sm-6 .faq p {
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #777777;
	margin-bottom: 0;
}
/*----------------------------------------------------------------*/
.main-background {
	position: relative;
}
.main-background::before {
	background: #f7f8f9;
	content: "";
	position: absolute;
	left: -100%;
	right: -100%;
	top: 0;
	bottom: 0;
	display: inline-block !important;
}

.offer_service.home_page {
	background: #fff;
}
.offer_service h2 {
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	font-size: 28px;
	line-height: 36px;
	margin-top: 0;
	margin-bottom: 0;
}
.offer_service h2:after {
	width: 40px;
	height: 2px;
	background: #ea9c50;
	content: '';
	display: block;
	margin: 15px 0 20px;
}
.offer_service p {
	font-size: 13px;
	font-family: 'Droid Serif', serif;
	line-height: 26px;
	letter-spacing: 0.5px;
	color: #777777;
	margin-bottom: 40px;
}
.offer_service .nav li {
	padding-left: 46px;
	line-height: 20px;
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	color: #777777;
}
.offer_service .nav li img {
	display: inline-block;
	margin-left: -46px;
	margin-right: 24px;
}
.offer_service .nav li + li {
	margin-top: 33px;
}
.offer_service_carousel {
	position: relative;
	padding-bottom: 120px;
	padding-top: 120px;
}
.offer_service_carousel .item {
	text-align: center;
}
.offer_service .offer_service_carousel .item img,
.offer_service_carousel.owl-carousel .item img {
	display: inline-block;
	width: auto;
	max-width: 100%;
}
.offer_service_carousel .owl-controls .owl-dots {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	right: 0;
}
.offer_service_carousel .owl-controls .owl-dots .owl-dot {
	display: block;
	margin: 20px 0;
	border: 1px solid transparent;
	border-radius: 100%;
	transition: all 300ms ease-in-out 0s;
}
.offer_service_carousel .owl-controls .owl-dots .owl-dot span {
	margin: 0;
	background: #dedede;
	transition: all 300ms ease-in-out 0s;
}
.offer_service_carousel .owl-controls .owl-dots .owl-dot.active {
	border: 3px solid rgba(39, 174, 97, 0.4);
}
.offer_service_carousel .owl-controls .owl-dots .owl-dot.active span {
	background: #27ae61;
}
.offer_service .learn_more {
	margin-right: 15px;
}
.offer_service .learn_more:after {
	border-color: #27ae61;
	border-radius: 35px;
}
.offer_service .learn_more span {
	background: none;
	color: #232323;
}
.offer_service .borderred_link span {
	line-height: 45px;
}
.about_company h2 {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	line-height: 36px;
	letter-spacing: .5px;
	margin-bottom: 45px;
	margin-top: 0;
}
.about_company .panel-group .panel {
	border-radius: 0;
	border: 0;
	box-shadow: none;
}
.about_company .panel-group .panel .panel-heading {
	padding: 0;
	background: none;
}
.about_company .panel-group .panel .panel-heading h4 a {
	display: block;
	line-height: 60px;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
}
.about_company .panel-group .panel .panel-heading h4 a .icon {
	margin-right: 20px;
}
.about_company .panel-group .panel .panel-heading h4 a .sign {
	float: right;
	width: 25px;
	height: 60px;
	display: inline-block;
	background: url('images/icons/about/plus.png') no-repeat scroll 0 center;
}
.about_company .panel-group .panel .panel-heading h4 a[aria-expanded="true"] {
	border-bottom: 2px solid #27ae61;
}
.about_company .panel-group .panel .panel-heading h4 a[aria-expanded="true"] .sign {
	background-image: url('images/icons/about/minus.png');
}
.about_company .panel-group .panel .panel-collapse .panel-body {
	border-top: 0;
	border-bottom: 1px solid #d0d0d0;
}
.about_company .panel-group .panel + .panel {
	margin: -1px 0 0;
}
.about_company .panel-group .panel:first-child .panel-heading h4 a {
	border-top: none;
}

/* -- Funfact */
.funfacts_ab {
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 135px;
	padding-top: 90px;
}
.statistics-content:nth-child(4n+1) {
	clear:both;
}
.funfacts_ab .fact {
	color: #fff;
	text-transform: uppercase;
}
.funfacts_ab .fact {
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 30px;
	text-align: center;
}
.funfacts_ab .fact:nth-child(4n+1) {
	text-align: left;
	border-left: none;
}
.counter-box {
	display: inline-block;
	text-align: left;
}
.funfacts_ab .fact h3 {
	font-size: 26px;
	font-family: 'Droid Serif', serif;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 5px;
	font-weight: bold;
	margin-top: 0;
}
.funfacts_ab .fact h5 {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	line-height: 24px;
	letter-spacing: 1px;
	margin: 0;
	word-wrap: break-word;
}

/* -- Team */
.team_members .team {
	overflow: hidden;
	margin-bottom: 30px;
}
.team_members {
	padding-bottom: 50px;
}

.team_members .team .inner {
	margin: 0;
	position: relative;
	display: inline-block;
	float: right;
}
.team_members .team .inner .img {
	text-align: right;
}
.team_members .team .inner .img img {
	max-width: 100%;
}
.team_members .team .inner .nav {
	background: #fff;
	position: absolute;
	top: 15px;
	right: -100px;
	height: 100%;
	width: 28px;
	text-align: center;
	transition: all 300ms ease-in-out 0s;
}
.team_members .team .inner .nav li a {
	padding: 0;
	line-height: 38px;
	color: #232323;
}
.team_members .team .inner .nav li + li {
	border-top: 1px solid #ddd;
}
.team_members .team .inner .identity {
	background: #fff;
	margin-top: -35px;
	position: relative;
	z-index: 2;
	padding-bottom: 6px;
	transform-origin: center;
	transform: scale(1, 0);
	transition: all 300ms ease-in-out 0s;
}
.team_members .team .inner .identity h5 {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	color: #232323;
	line-height: 1;
	margin-bottom: 13px;
	text-transform: uppercase;
	margin-top: 24px;
	padding-top: 24px;
}
.team_members .team .inner .identity h5.pos {
	font-family: 'Droid Serif', serif;
	color: #777777;
	font-size: 13px;
	font-style: italic;
	text-transform: capitalize;
	margin: 0;
	padding-top: 0;
}
.team_members .team .inner:hover .nav {
	right: 0;
}
.team_members .team .inner:hover .identity {
	transform: scale(1, 1);
}
.our_clients {
	background: url('images/dot-pattern.png') repeat scroll 0 0;
	padding: 90px 0;
}
.our_clients h2 {
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 0;
}
.our_clients h2:after {
	width: 40px;
	height: 3px;
	background: #ea9c50;
	content: '';
	display: block;
	margin: 5px 0 20px;
}
.our_clients p {
	margin: 0;
	font-family: 'Droid Serif', serif;
	line-height: 26px;
	letter-spacing: 0.5px;
	color: #777777;
}
.our_clients .clients_carousel {
	position: relative;
}
.our_clients .clients_carousel .item {
	text-align: right;
	line-height: 120px;
}
.our_clients .clients_carousel .item img {
	display: inline-block;
	width: auto;
	max-width: 100%;
}
.our_clients .clients_carousel .owl-controls .owl-nav {
	position: absolute;
	top: 30px;
	width: 30px;
}
.our_clients .clients_carousel .owl-controls .owl-nav div {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 0;
	margin: 0;
	background: #fff;
	padding: 0;
	color: #7a7a7a;
	display: block;
	float: right;
}
.our_clients .clients_carousel .owl-controls .owl-nav div:hover {
	background: #27ae61;
	color: #FFF;
}

/* -- Tesimonial */
.testimonial {
	margin-bottom: 30px;
}
.testimonial:nth-child(2n+1) {
	clear: both;
}
.testimonial .media {
	overflow: visible;
	transition: all 300ms ease-in-out 0s;
}
.testimonial .media .media-left {
	padding-right: 50px;
}
.testimonial .media .media-left a {
	padding: 10px;
	border: 1px solid #27ae61;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	display: block;
}
.testimonial .media .media-left a img {
	width: 100%;
	border-radius: 100%;
}
.testimonial .media .media-body {
	padding: 0 15px 15px 0;
	background: #f0f2f1;
	position: relative;
	vertical-align: baseline;
	overflow: visible;
	transition: all 300ms ease-in-out 0s;
}
.testimonial .media .media-body .inner {
	background: #fff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.08);
	padding: 50px 58px 50px 82px;
	position: relative;
}
.testimonial .media .media-body .inner:before {
	content: '\201D';
	width: 0;
	height: 0;
	font-family: 'Droid Serif', serif;
	position: absolute;
	top: 0;
	right: 50px;
	font-size: 80px;
	color: rgba(35, 35, 35, 0.1);
	line-height: 1;
}
.testimonial .media .media-body .inner .blockquote {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	color: #777777;
	font-size: 13px;
	line-height: 26px;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
}
.testimonial .media .media-body .inner .review {
	margin-bottom: 10px;
	font-size: 13px;
}
.testimonial .media .media-body .inner .review i {
	color: #c3c3c3;
}
.testimonial .media .media-body .inner .review i + i {
	margin-left: 5px;
}
.testimonial .media .media-body .inner .review i.starred {
	color: #e99544;
}
.testimonial .media .media-body .inner .identity {
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	line-height: 1;
	color: #232323;
}
.testimonial .media .media-body .inner .identity .pos {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	color: #777777;
	text-transform: none;
	margin-left: 10px;
}
.testimonial .media:hover .media-body {
	background: #27ae61;
}

.post_cats .post_cat li a {
	padding: 0;
	line-height: 40px;
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	letter-spacing: 0.5px;
	color: #777777;
	border-bottom: 1px solid #e8e8e8;
}
.post_cats .post_cat li a:before {
	content: "\25A0";
	display: inline-block;
	color: #27ae61;
	padding-left: 5px;
	padding-right: 15px;
}
.top_tags a {
	line-height: 30px;
	padding: 0 22px;
	border: 1px solid #e8e8e8;
	border-radius: 0;
	display: inline-block;
	margin-bottom: 7px;
	margin-right: 3px;
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	color: #232323;
	letter-spacing: 0.5px;
	transition: all 300ms ease-in-out 0s;
}
.top_tags a:hover {
	border: 2px solid #27ae61;
	line-height: 28px;
}
.recent_posts .recent_post {
	padding-bottom: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #e8e8e8;
}
.recent_posts .recent_post + .recent_post {
	padding: 20px 0;
}
.recent_posts .recent_post .links a {
	font-family: 'Droid Serif', serif;
}
.recent_posts .recent_post .links a.post_title {
	letter-spacing: 0.3px;
	font-size: 13px;
	color: #232323;
	line-height: 20px;
}
.recent_posts .recent_post .links a.post_meta {
	letter-spacing: 0.5px;
	font-size: 11px;
	color: #777777;
	line-height: 22px;
	font-style: italic;
}
/*----------------------------------------------------------------*/
.blog_sec {
	padding-right: 68px;
}
.blog {
	position: relative;
	border-bottom: 1px solid #e8e8e8;
}
.blog + .blog {
	padding-top: 50px;
}
.blog.blog.quoteBlog {
	padding: 100px 45px;
}
.blog .media {
	margin-top: -50px;
	z-index: 1;
	position: relative;
}
.blog .media .media-left {
	padding-top: 50px;
	padding-right: 0;
}
.blog .media .media-left .post-icon {
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #f6f7f8;
	text-align: center;
}
.blog .media .media-body {
	padding: 30px 20px 50px 38px;
	background: #fff;
}
.blog .media .media-body .post_meta {
	margin-bottom: 24px;
}
.blog .media .media-body .post_meta:after {
	width: 40px;
	content: '';
	height: 1px;
	background: #e8e8e8;
	display: block;
	position: relative;
	top: 10px;
}
.blog .media .media-body .post_meta div {
	margin-right: 15px;
}
.blog .media .media-body .post_meta div img {
	margin-right: 6px;
	display: inline-block;
}
.blog .media .media-body .post_meta div a {
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	color: #777777;
	font-style: italic;
}
.blog .media .media-body .post_title {
	margin-bottom: 15px;
	display: inline-block;
}
.blog .media .media-body .post_title h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #232323;
	text-transform: uppercase;
	display: inline-block;
	margin: 0;
	letter-spacing: 0.5px;
	line-height: 1;
}
.blog .media .media-body .post_text {
	letter-spacing: 0.5px;
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	line-height: 24px;
	color: #777777;
	margin-bottom: 25px;
}
.blog .media .media-body .read_more {
	padding: 0 25px;
	border: 2px solid #27ae61;
	line-height: 30px;
	letter-spacing: 1.2px;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #232323;
	display: inline-block;
	border-radius: 30px;
}
.blog .media .media-body .read_more:hover {
	background: #27ae61;
	color: #fff;
}
.quoteBlog {
	text-align: center;
}
.quoteBlog .quote {
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	color: #232323;
	letter-spacing: 0.5px;
	line-height: 26px;
	font-weight: 500;
	font-style: italic;
}
.quoteBlog .quote:before, .quoteBlog .quote:after {
	font-family: 'Droid Serif', serif;
	display: inline-block;
}
.quoteBlog .quote:before, .quoteBlog .quote:after {
	content: '\201C';
	margin-right: 5px;
}
.quoteBlog .quote:after {
	content: '\201D';
	margin-left: 5px;
}
.quoteBlog .quote_writer {
	color: #27ae61;
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	line-height: 26px;
	display: inline-block;
	margin-top: 25px;
}
.pagination {
	margin-top: 35px;
}
.pagination ul {
	text-transform: uppercase;
	margin-left: 0;
	margin-bottom: 0;
}
.pagination ul li {
	margin-right: 5px;
	color: #777777;
	font-family: 'Cabin', sans-serif;
	line-height: 22px;
	letter-spacing: 0.5px;
	font-weight: bold;
	padding: 0;
}
.pagination ul li a {
	color: #777777;
	padding: 0;
}
.pagination ul li:first-child {
	color: #232323;
}
.single_post {
	border-bottom: none;
	padding-bottom: 0;
}
.single_post .media .media-body {
	padding-bottom: 0;
}
.single_post .post_content {
	padding-top: 30px;
}
.single_post .post_content p {
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	color: #777777;
	letter-spacing: 0.5px;
	line-height: 24px;
	margin-bottom: 30px;
}
.single_post .post_content blockquote {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	letter-spacing: 0;
	font-size: 15px;
	line-height: 28px;
	color: #232323;
	margin-bottom: 30px;
	padding: 0 20px 0 0;
	border: none;
}
.single_post .post_content blockquote:before {
	float: left;
	width: 110px;
	height: 52px;
	margin-right: 22px;
	content: '';
	background: url('images/icons/blog/quote.png') no-repeat scroll right 5px transparent;
}
.shares {
	margin-bottom: 25px;
	display: inline-block;
	width: 100%;
}
.shares .share_count {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	letter-spacing: 0.5px;
	line-height: 24px;
	color: #232323;
}
.shares .share_icon li {
	float: left;
	padding: 0;
}
.shares .share_icon li + li {
	margin-left: 8px;
}
.shares .share_icon li a {
	width: 30px;
	line-height: 28px;
	border: 1px solid #e8e8e8;
	display: block;
	text-align: center;
	color: #777777;
}

body.logged-in .comment-respond .form-submit .btn.btn-warning {
	margin-top: 25px;
}

body.logged-in .form-right.np {
	padding-left: 0;
}

.comments .comment_count {
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	margin-top: 55px;
	margin-bottom: 48px;
	letter-spacing: 0.5px;
}
.comments .comment_count:after {
	width: 40px;
	height: 2px;
	background: #ea9c50;
	content: '';
	display: block;
	margin: 7px 0 30px;
}
.comment {
	margin: 0 0 50px;
}
.comment .media-left {
	padding-right: 30px;
}
.comment .media-left a {
	border-radius: 100%;
	padding: 10px;
	background: #f5f5f5;
	display: block;
}
.comment .media-left a img {
	border-radius: 100%;
	width: 83px;
	height: 83px;
}
.comment .media-body {
	border-bottom: 1px solid #e8e8e8;
}
.comment .media-body .row a {
	text-transform: uppercase;
	font-family: 'Droid Serif', serif;
	line-height: 40px;
	font-size: 11px;
	letter-spacing: 1px;
	color: #232323;
}
.comment .media-body .row a.author_name {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
.comment .media-body .row a.reply {
	margin-left: 20px;
}
.comment .media-body .row a.date {
	color: #777777;
}
.comment .media-body p {
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	letter-spacing: 0.5px;
	line-height: 24px;
	color: #777777;
	margin: 10px 0 25px;
}
.comment.reply_comment {
	padding-left: 83px;
}
.comment_form .col-sm-6 label {
	font-size: 12px;
	letter-spacing: 0.5px;
}
.comment_form .col-sm-6 label span {
	color: #27ae61;
}
.comment_form .col-sm-6 .form-control {
	margin-bottom: 20px;
}
.comment_form .col-sm-6:first-child {
	padding-top: 8px;
}
.comment_form .col-sm-6 textarea.form-control {
	height: 140px;
	margin-bottom: 37px;
}
.comment_form .col-sm-6 input[type="submit"] {
	background: #27ae61;
	border-color: #27ae61;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.5px;
	font-weight: bold;
	text-transform: uppercase;
}
.latest_blogs {
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
}
.latest_blogs .view_all {
	margin-top: 70px;
	display: inline-block;
	line-height: 45px;
	text-transform: uppercase;
	padding: 0 37px;
	border: 1px solid #e8e8e8;
	border-radius: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 1.5px;
	color: #777777;
}
.latest_blog {
	border-bottom: none;
}
.latest_blog + .latest_blog {
	padding-top: 0;
}
.latest_blog .media {
	margin-top: -30px;
}
.latest_blog .media .media-left {
	padding-top: 30px;
}
.latest_blog .media .media-body {
	padding: 15px 0;
	text-align: center;
}
.latest_blog .media .media-body .post_meta {
	font-style: italic;
	font-size: 12px;
}
.latest_blog .media .media-body .post_meta:after {
	margin: 0 auto;
}
.latest_blog .media .media-body .post_meta .date a {
	line-height: 24px;
	color: #27ae61;
}
.latest_blog .media .media-body .post_meta .author a {
	line-height: 24px;
	color: #777777;
}
.latest_blog .media .media-body .post_title h5 {
	letter-spacing: 0.5px;
	margin-bottom: 0;
	font-size: 14px;
	font-family: 'Droid Serif', serif;
	font-weight: 300;
}
/*----------------------------------------------------------------*/
.paginations.case_study_detail_pagination {
	background-color: #f7f8f9;
}
.page_case_study .image_1 {
	padding-top: 100px;
	text-align: center;
}
.page_case_study .image_1 img {
	display: inline-block;
}
.page_case_study .trenz_master {
	padding: 75px 0;
	background: #f7f8f9;
}
.page_case_study .trenz_master h2:after {
	margin-bottom: 15px;
}
.page_case_study .trenz_master p {
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #777777;
	margin: 0;
}
.page_case_study .trenz_master .col-sm-offset-1 {
	padding-top: 55px;
}
.page_case_study .trenz_master .col-sm-offset-1 .casestudy-info {
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #777777;
	margin-bottom: 15px;
}
.page_case_study .trenz_master .col-sm-offset-1 .casestudy-info span {
	color: #232323;
}
.page_case_study .trenz_master .col-sm-offset-1 .casestudy-info a {
	display: inline-block;
	color: #e99544;
	font-style: italic;
}
.page_case_study .traffic {
	padding: 60px;
	text-align: center;
}
.page_case_study .traffic h2 {
	margin: 0 0 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	color: #27ae61;
	letter-spacing: 0.5px;
	line-height: 1;
}
.page_case_study .traffic h4 {
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	margin: 0 0 30px;
	color: #232323;
}
.page_case_study .challenge, .page_case_study .results {
	padding-top: 81px;
	background: #f7f8f9;
}
.page_case_study .challenge h3, .page_case_study .results h3 {
	font-family: 'Cabin', sans-serif;
	font-size: 22px;
	letter-spacing: 0.5px;
	color: #232323;
	margin: 30px 0 10px;
}
.page_case_study .challenge p, .page_case_study .results p {
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #777777;
	margin: 0;
}
.page_case_study .challenge p:first-child, .page_case_study .results p:first-child {
	margin-bottom: 25px;
}
.page_case_study .results {
	padding-top: 80px;
	padding-bottom: 70px;
	border-bottom: 1px solid #e8e8e8;
}
.page_case_study .results h3 {
	margin-top: 65px;
}
.page_case_study .share_row {
	padding: 70px 0;
}
.page_case_study .share_row .share_buttons {
	text-align: center;
	margin: 0;
}
.page_case_study .share_row .share_buttons li {
	padding: 0;
}
.page_case_study .share_row .share_buttons li + li {
	margin-left: -5px;
}
.page_case_study .share_row .share_buttons li a {
	display: block;
	line-height: 40px;
	padding: 0 20px;
	text-transform: capitalize;
	font-style: italic;
	color: #fff;
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	letter-spacing: 0.3px;
}
.page_case_study .share_row .share_buttons li a i {
	margin-right: 5px;
}
.page_case_study .share_row .share_buttons li.facebook a {
	background: #3b579d;
}
.page_case_study .share_row .share_buttons li.twitter a {
	background: #08acee;
}
.page_case_study .share_row .share_buttons li.google-plus a {
	background: #dd4c39;
}
.page_case_study .share_row .share_buttons li.linkedin a {
	background: #007bb6;
}
.page_case_study .share_row .share_buttons li.comment_i a {
	background: #2a2b2f;
}
.page_case {
	padding-top: 100px;
}
#filters {
	width: 100%;
	text-align: center;
}
#filters li {
	line-height: 40px;
	padding: 0 20px;
	text-transform: uppercase;
	margin-right: 5px;
	color: #232323;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	cursor: pointer;
}
#filters li:before {
	content: "\25A0";
	line-height: 37px;
	padding-bottom: 3px;
	color: #fff;
	float: left;
	margin-right: 14px;
	color: #b5b5b5;
}
#filters li:hover, #filters li.active {
	background: #27ae61;
	color: #fff;
}
#filters li:hover:before, #filters li.active:before {
	color: #fff;
}
#caseStdudies {
	padding: 80px 0;
}
/*CASES*/
.case {
	padding: 0 10px;
	margin: 0 0 60px;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}
.case:after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: #27ae61;
	position: absolute;
	left: 50%;
	transition: all 300ms ease-in-out 0s;
}
.case a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #232323;
	font-size: 12px;
}
.case a.img_link {
	line-height: 1;
	text-align: left;
	position: relative;
}
.case a.img_link img {
	left: 0;
	bottom: 0;
	vertical-align: baseline;
	display: inline-block;
}
.case a.text_link {
	margin: 25px 0;
	line-height: 30px;
}
.case a.text_link i {
	float: right;
	width: 30px;
	height: 30px;
	line-height: 28px;
	border: 1px solid #e8e8e8;
	text-align: center;
	border-radius: 100%;
	color: #777777;
	font-size: 18px;
	transition: all 300ms ease-in-out 0s;
}
.case:hover:after {
	width: 100%;
	left: 0;
}
.case:hover a.text_link i {
	border: 1px solid #232323;
	color: #232323;
}
/*CASES*/
.recent_cases {
	padding-bottom: 0;
}
.recentCaseStudies {
	width: 100%;
	margin: 0 -15px;
}
.recentCaseStudies .case {
	margin-bottom: 0;
}
.ready_to_work {
	height: 227px;
	padding-top: 60px;
	color: #fff;
	text-align: center;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #65a76b;
}
.ready_to_work h2 {
	font-size: 35px;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 0.5px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
}
.ready_to_work a {
	margin-top: 25px;
}
.ready_to_work a:after {
	border-color: #fff;
}
.ready_to_work a span {
	background: #232323;
}
/*----------------------------------------------------------------*/
.successive_process {
	border-bottom: 1px solid #e8e8e8;
}
.successive_process .successive_process_inner {
	/*background: url('images/successive.png') no-repeat scroll center 0;*/
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 50px;
	margin-bottom: 50px;
}
.successive_process .successive_process_inner .process {
	margin-right: 50px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 1;
	letter-spacing: 0.8px;
	color: #232323;
	width: 180px;
	margin-bottom: 30px;
}
.successive_process .successive_process_inner .process:nth-child(5n+1) { 
	clear: both;
}
.successive_process .successive_process_inner .process .dot_circle {
	background: url('images/process/dotted.png') no-repeat scroll 0 0;
	background-size: cover;
	padding: 15px;
	border-radius: 100%;
	margin-bottom: 28px;
	width: 180px;
	height: 180px;
	transition: all 300ms ease-in-out 0s;
}
.successive_process .successive_process_inner .process .dot_circle .icon_circle {
	width: 165px;
	height: 165px;
	line-height: 175px;
	border-radius: 100%;
	background: #f4f6f7;
	margin: -6.6px;
	position: relative;
}
.successive_process .successive_process_inner .process .dot_circle .icon_circle .hover_texts {
	position: absolute;
	font-family: 'Droid Serif', serif;
	line-height: 24px;
	letter-spacing: 0.8px;
	color: #232323;
	font-style: italic;
	text-align: center;
	width: 100%;
	height: 100%;
	top: 0;
	padding: 60px 10px 0;
	opacity: 0;
	transition: all 300ms ease-in-out 0s;
}
.successive_process .successive_process_inner .process .dot_circle .icon_circle img {
	display: inline-block;
	transition: all 300ms ease-in-out 0s;
}
.successive_process .successive_process_inner .process:hover .dot_circle {
	background-image: url('images/process/dotted-hover.png');
}
.successive_process .successive_process_inner .process:hover .dot_circle .icon_circle img {
	opacity: 0.05;
}
.successive_process .successive_process_inner .process:hover .dot_circle .icon_circle .hover_texts {
	opacity: 1;
}
/*----------------------------------------------------------------*/
.marketing_app {
	background-repeat: no-repeat; 
	background-position:center top;
	color: #FFF;
	padding-top: 97px;
}
.marketing_app .page_title {
	margin-top: 50px;
}
.marketing_app .page_title:after {
	margin-bottom: 20px;
}
.marketing_app p {
	font-family: 'Droid Serif', serif;
	line-height: 24px;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
}
.marketing_app ul {
	margin-bottom: 50px;
}
.marketing_app ul li {
	float: left;
	margin-right: 40px;
	line-height: 22px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.marketing_app ul li img {
	margin-right: 8px;
}
.marketing_app .download_links a {
	display: inline-block;
	margin-right: 20px;
}
/*----------------------------------------------------------------*/
.tweets {
	height: 414px;
}
.tweets .container {
	max-width: 810px;
	padding-top: 80px;
	text-align: center;
}
.tweets .container .icon {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 1px solid #27ae61;
	margin: 0 auto 50px;
	line-height: 48px;
	font-size: 20px;
	color: #232323;
}
.tweets .container .flexslider {
	background: none;
	border: none;
	box-shadow: none;
}
.tweets .container .flexslider .tweet {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
}
.tweets .container .flexslider .tweet a {
	color: #e99544;
}
.tweets .container .flexslider .date {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 24px;
	color: #232323;
	letter-spacing: 1.3px;
	margin: 0 auto;
}
.tweets .container .flexslider .flex-control-nav li a {
	border: 1px solid transparent;
	padding: 4px;
	width: 15px;
	height: 15px;
	background: none;
	box-shadow: none;
	position: relative;
}
.tweets .container .flexslider .flex-control-nav li a:after {
	content: '';
	width: 5px;
	height: 5px;
	background: #27ae61;
	position: absolute;
	left: 4px;
	top: 4px;
	border-radius: 100%;
}
.tweets .container .flexslider .flex-control-nav li a.flex-active {
	background: rgba(39, 174, 97, 0.2);
	border-color: #27ae61;
}
/*----------------------------------------------------------------*/

.bannercontainer {
	width: 100%;
	position: relative;
	padding: 0;
	overflow: hidden;
}
.bannercontainer .preloader {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 660px;
	text-align: center;
	background: #fff;
	z-index: 9999;
}
.bannercontainer .main_slider {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 1408px;
	overflow: hidden;
	max-height: 660px;
}
.bannercontainer .main_slider .tp-revslider-mainul li {
	list-style: none;
	max-width: 100%;
	overflow: hidden;
}
.bannercontainer .main_slider .banner_heading {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #232323;
	text-transform: uppercase;
	font-size: 35px !important;
	line-height: 60px;
	margin: 0;
	top: 140px;
	left: 0;
}
.bannercontainer .main_slider .banner_heading span {
	font-size: 45px !important;
	border-bottom: 3px solid #e99544;
}
.bannercontainer .main_slider .banner_heading.banner_heading2 {
	font-size: 30px !important;
	top: 100px;
	left: 685px;
}
.bannercontainer .main_slider .banner_heading.banner_heading2.banner_heading6 {
	top: 120px;
	left: 0;
	width: 100%;
	text-align: center;
}
.bannercontainer .main_slider .banner_heading.banner_heading4 {
	font-size: 30px !important;
	top: 180px;
	left: 115px;
}
.bannercontainer .main_slider .banner_heading.banner_heading4 span {
	font-size: 30px !important;
	border: none;
	color: #e99544;
}
.bannercontainer .main_slider .banner_heading.banner_heading5 {
	font-size: 30px !important;
	top: 230px;
	left: 115px;
}
.bannercontainer .main_slider .banner_heading3 {
	font-family: 'Droid Serif', serif;
	color: #232323;
	font-style: italic;
	text-transform: capitalize;
	font-size: 18px !important;
	line-height: 45px;
	margin: 0;
	top: 150px;
	left: 828px;
}
.bannercontainer .main_slider .banner_heading3.banner_heading7 {
	top: 165px;
	left: 0;
	width: 100%;
	text-align: center;
}
.bannercontainer .main_slider .get_in_touch {
	display: inline-block;
	line-height: 45px !important;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px !important;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	border-radius: 25px;
	padding: 3px;
	position: relative;
	top: 388px;
}
.bannercontainer .main_slider .get_in_touch span {
	background: #27ae61;
	display: block;
	padding: 0 35px;
	border-radius: 25px;
}
.bannercontainer .main_slider .get_in_touch:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 2px solid rgba(0, 0, 0, 0.08);
	border-radius: 25px;
	opacity: 1;
	transition: all 300ms ease-in-out 0s;
}
.bannercontainer .main_slider .get_in_touch:hover:after {
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	opacity: 0;
	border-radius: 0;
	border: 2px solid rgba(0, 0, 0, 0.2);
}
.bannercontainer .main_slider .first_slide_para {
	font-family: 'Droid Serif', serif;
	font-size: 14px !important;
	font-weight: normal;
	line-height: 26px;
	color: #777777;
	margin: 0;
	width: 560px;
	white-space: normal;
	top: 280px;
}
.bannercontainer .main_slider .first_slide_para.third_slide_para {
	top: 285px;
	left: 115px;
	font-size: 14px !important;
}
.bannercontainer .main_slider .shapes {
	height: 650px;
	position: relative;
	padding-top: 40px;
	background: url('images/slider/plane.png') no-repeat scroll 15px top transparent;
	top: 100px;
	left: 620px;
}
.bannercontainer .main_slider .shapes .shapes_inner {
	height: 100%;
}
.bannercontainer .main_slider .shapes .shapes_inner .abs_plane {
	margin-left: 490px;
}
.bannercontainer .main_slider .shapes .shapes_inner .media {
	overflow: visible;
}
.bannercontainer .main_slider .shapes .shapes_inner .media .media-left {
	position: relative;
	width: 75px;
	line-height: 75px;
	height: 75px;
	background: #71cff3;
	display: block;
	float: left;
	border-radius: 100%;
	text-align: center;
	padding: 0;
}
.bannercontainer .main_slider .shapes .shapes_inner .media .media-left img {
	width: auto;
}
.bannercontainer .main_slider .shapes .shapes_inner .media .media-left:after {
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	bottom: -3px;
	right: -3px;
	border: 3px solid rgba(113, 207, 243, 0.18);
	border-radius: 100%;
	opacity: 1;
	transition: all 300ms ease-in-out 0s;
}
.bannercontainer .main_slider .shapes .shapes_inner .media .media-left:hover:after {
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	opacity: 0;
	border: 3px solid rgba(113, 207, 243, 0.18);
}
.bannercontainer .main_slider .shapes .shapes_inner .media .media-body {
	padding-left: 18px;
}
.bannercontainer .main_slider .shapes .shapes_inner .media .media-body .count {
	margin-bottom: 5px;
	font-family: 'Droid Serif', serif;
}
.bannercontainer .main_slider .shapes .shapes_inner .media .media-body .shape_desc {
	margin: 0;
	font-size: 12px !important;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #232323;
	font-weight: 400;
}
.bannercontainer .main_slider .shapes .shapes_inner .media.business_grow {
	margin-left: 205px;
	margin-bottom: 72px;
}
.bannercontainer .main_slider .shapes .shapes_inner .media.complete_projects {
	margin-left: 65px;
	margin-bottom: 110px;
}
.bannercontainer .main_slider .shapes .shapes_inner .media.complete_projects .media-left {
	background: #fdc153;
}
.bannercontainer .main_slider .shapes .shapes_inner .media.complete_projects .media-left:after {
	border: 3px solid rgba(253, 193, 83, 0.18);
}
.bannercontainer .main_slider .shapes .shapes_inner .media.complete_projects .media-left:hover:after {
	border: 3px solid rgba(253, 193, 83, 0.18);
}
.bannercontainer .main_slider .shapes .shapes_inner .media.staisfied_clients .media-left {
	background: #fa8171;
}
.bannercontainer .main_slider .shapes .shapes_inner .media.staisfied_clients .media-left:after {
	border: 3px solid rgba(250, 129, 113, 0.18);
}
.bannercontainer .main_slider .shapes .shapes_inner .media.staisfied_clients .media-left:hover:after {
	border: 3px solid rgba(250, 129, 113, 0.18);
}
.bannercontainer .main_slider .mac_view {
	left: 930px;
	top: 312px;
}
.bannercontainer .main_slider .presenter {
	top: 80px;
	left: 50px;
}
.bannercontainer .main_slider .graph {
	top: 240px;
	left: 885px;
}
.bannercontainer .main_slider .website_form {
	top: 340px;
	left: 115px;
	width: 480px;
}
.bannercontainer .main_slider .website_form .form-control {
	font-family: 'Droid Serif', serif;
	line-height: 60px;
	height: 60px;
}
.bannercontainer .main_slider .website_form .form-control + span {
	padding: 0;
	border-radius: 0;
}
.bannercontainer .main_slider .website_form .form-control + span button {
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #27ae61;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px !important;
	font-weight: bold;
	text-align: center;
	border: none;
	border-radius: 0;
}
.bannercontainer .main_slider .grow_mac {
	left: 860px;
	top: 155px;
}
.bannercontainer .main_slider .browser {
	text-align: center;
	top: 422px;
	width: 100%;
}
.bannercontainer .main_slider .browser img {
	display: inline-block;
}
.bannercontainer .main_slider .sv {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 11px !important;
	color: #232323;
	letter-spacing: 1px;
}
.bannercontainer .main_slider .sv img {
	width: auto !important;
	height: auto !important;
}
.bannercontainer .main_slider .sv.sv1 {
	top: 390px;
	left: 115px;
}
.bannercontainer .main_slider .sv.sv1 img.icon {
	margin: 0 15px;
}
.bannercontainer .main_slider .sv.sv1 img.arrow {
	float: right;
}
.bannercontainer .main_slider .sv.sv2 {
	top: 342px;
	left: 367px;
}
.bannercontainer .main_slider .sv.sv2 img.icon {
	margin: 10px 0 3px 20px;
	float: right;
}
.bannercontainer .main_slider .sv.sv2 img.arrow {
	float: right;
	margin-top: 32px;
}
.bannercontainer .main_slider .sv.sv3 {
	width: 150px;
	text-align: center;
	top: 289px;
	left: 640px;

}
.bannercontainer .main_slider .sv.sv3 img {
	display: block;
}
.bannercontainer .main_slider .sv.sv3 img.icon {
	margin: 15px auto 12px;
}
.bannercontainer .main_slider .sv.sv3 img.arrow {
	display: inline-block;
}
.bannercontainer .main_slider .sv.sv4 {
	top: 342px;
	right: 367px;
}
.bannercontainer .main_slider .sv.sv4 img.icon {
	margin: 10px 20px 5px 0;
	float: left;
}
.bannercontainer .main_slider .sv.sv4 img.arrow {
	float: left;
	margin-top: 32px;
}
.bannercontainer .main_slider .sv.sv5 {
	top: 390px;
	right: 115px;
}
.bannercontainer .main_slider .sv.sv5 img.icon {
	margin: 0 15px;
}
.bannercontainer .main_slider .sv.sv5 img.arrow {
	float: left;
}
.home-slider{
	position:relative;
	width:100%;
	display:inline-block;
	overflow:hidden;
	background-repeat: repeat;
}

.home-slider .borderred_link{
	padding: 2px 30px;
	color: #232323 !important;
	font-weight: bold;
	border:3px solid  #27ae61;
}
.home-slider .color-text{
	color: #e99544;
}

.home-slider .website_form {
	width: 480px;
}
.home-slider .website_form .form-control {
	font-family: 'Droid Serif', serif;
	line-height: 60px;
	height: 60px;
}
.home-slider .website_form .form-control + span {
	padding: 0;
	border-radius: 0;
}
.home-slider .website_form .form-control + span button {
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #27ae61;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px !important;
	font-weight: bold;
	text-align: center;
	border: none;
	border-radius: 0;
}
.home-slider p{
	font-family: 'Montserrat', sans-serif;
	color: #232323;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
}
.home-slider h4{
	font-size: 30px;
	font-family: 'Droid Serif', serif;
	color: #232323;
}
.home-slider{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.home-slider .tp-rightarrow.default{
	display: none;
}
.tp-leftarrow.default{
	display: none;
}

/* blog single  */
.entry-cover {
	position: relative;
}
.blog-entry-meta {
	list-style: none;
	padding-left: 0;
	position: absolute;
	bottom: 0px;
	left: 60px;
	right: 0;
	background-color: #fff;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	margin-bottom: 0;
}

.blog-entry-meta li {
	display: inline-block;
	margin-right: 15px;
}
.blog-entry-meta span,
.blog-entry-meta a {
	color: #777;
    font-family: "Droid Serif",serif;
    font-size: 12px;
    font-style: italic;
	text-decoration: none;
	padding-left: 2px;
}

.blog-entry-meta li a:focus,
.blog-entry-meta li a:hover { 
	text-decoration: none;
	color: #777;
	outline: 0 none;
}

article.has-post-thumbnail .blog-list-content {
	position: relative;
	padding-top: 50px;
	padding-right: 20px;
	padding-bottom: 50px;
	background-color: #fff;
}
article.has-post-thumbnail .blog-list-content .entry-title,
article.has-post-thumbnail .blog-post .blog-list-content .entry-content {
	padding-left: 98px;
}
.blog-list-content .post-icon {
	background: #f6f7f8 none repeat scroll 0 0;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
	left: 0px;
	position: absolute;
	top: 0;
}
.blog-entry-meta .author {
	color: #777;
    font-family: "Droid Serif",serif;
    font-size: 12px;
    font-style: italic;
	text-decoration: none;
}
.entry-title {
	color: #232323;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: uppercase;
	position: relative;
}
.entry-title,
.blog-post .entry-title a {
	color: #232323;	
}
article.has-post-thumbnail .entry-title:before {
	background-color: #e8e8e8;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: -10px;
    width: 40px;
	left: 98px;
}
.blog-post p {
	color: #777777;
    font-family: "Droid Serif",serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-bottom: 25px;
}
.blog-post .read_more {
	border: 2px solid #27ae61;
    border-radius: 30px;
    color: #232323;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 11px;
    letter-spacing: 1.2px;
    line-height: 30px;
    padding: 0 25px;
    text-transform: uppercase;
	text-decoration: none;
}
.blog-post .read_more:hover {
	background-color: #27ae61;
	color: #fff;
}

.blog-single .entry-title a:hover, 
.blog-post .entry-title a:hover {
	text-decoration: none;
	outline: 0 none;
	color: #232323;
}

.blog-list-content {
	border-bottom: 1px solid #e8e8e8;
}

.blog-post {
	margin-bottom: 50px;
}

/* Single Post */

.entry-content-inner {
	margin-top: 40px;
}

article.tag-title .entry-content-inner {
	margin-top: 0;
}
.blog-single .blog-list-content .entry-content .entry-content-inner  p {
	color: #777777;
    font-family: "Droid Serif",serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-bottom: 30px;
}
.entry-content-inner blockquote {
	border: 0 none;
    color: #232323;
    font-family: "Droid Serif",serif;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 30px;
    padding: 0 20px 0 0;
	display: inline-block;
	width: 100%;
}

.blog-single .blog-list-content .entry-content-inner blockquote p {
	color: #232323 !important;
    font-family: "Droid Serif",serif;
    font-size: 15px !important;
    font-style: italic;
    letter-spacing: 0;
    line-height: 28px;
    padding: 0 20px 0 0;
}
.entry-content-inner blockquote  {
	position: relative;
}
.entry-content-inner blockquote::before {
    background-image: url("images/icons/blog/quote.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 65px;
    content: "";
    float: left;
    height: 52px;
    margin-right: 22px;
    width: 110px;
}
.entry-content-inner blockquote p { 
	margin-left: 135px;
}

.blog-list .blog-list-content {
	padding-bottom: 5px;
	border-bottom: 0 none;
}

.blog-list .entry-tag ul {
	padding-left: 0;
	list-style: none;
	margin-bottom: 30px;
}
.entry-tag ul li {
	display: inline-block;
}
.entry-tag ul li a {
	color: #777777;
	font-size: 14px;
}
.entry-tag ul li a:focus,
.entry-tag ul li a:hover {	
	text-decoration: none;
}

.tags {
	word-wrap: break-word;
}

.tags.entry-tag li a {
	text-transform: capitalize;
}
.tags.entry-tag li:after{
	content: ",";
	margin-right: 5px;
}

.quote-post  {
	padding: 45px 45px 100px 45px;
	text-align: center;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 45px;
}
.quote-post p::before {
	content: "“";
    margin-right: 5px;
	display: inline-block;
    font-family: "Droid Serif",serif;
}
.quote-post p::after {
    content: "”";
    margin-left: 5px;
}

.quote-post p {
	color: #232323;
    font-family: "Droid Serif",serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 26px;
	margin-bottom: 0;
}
.quote-post > a {
	color: #27ae61;
    display: inline-block;
    font-family: "Droid Serif",serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-top: 25px;
    text-transform: capitalize;
}
.quote-post > a:focus,
.quote-post > a:hover {
	color: #27ae61;
	text-decoration: none;
	outline: 0 none;
}
/* blog single  */

.feature_cols {
	padding-bottom: 30px;
}

.feature_cols:nth-child(3n+1),
.pricing_table:nth-child(3n+1),
.faq_clear:nth-child(2n+1) {
	clear:both;
}


/* Home Slider */
.homeslide .tp-caption.slider-button, 
.homeslide .slider-button,
.homeslide .tp-caption.slider-button-glass, 
.homeslide .slider-button-glass,
.homeslide  .tp-caption a {
	color: #232323 !important;
	background-color: #fff !important;
}

.hebe .tp-bullet {
    background: #777 !important;
    border: 5px solid #777 !important;
    border-radius: 62%;
    box-sizing: content-box;
    cursor: pointer;
    height: 6px;
    position: absolute;
    transform: translateZ(0.01px);
    transition: all 0.3s ease 0s;
    width: 6px;
}

.hebe .tp-bullet:hover, 
.hebe .tp-bullet.selected {
	background: #ffffff !important;
    border-color: #000000 !important;
}
.tp-bullet-image {
	display: none !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td.actions > .coupon {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media( max-width: 480px ) {

	.woocommerce-page table.cart td.actions .coupon input {
		width: 100% !important;
	}
}

.woocommerce .woocommerce-form-login .form-row label.inline {
    margin-left: 10px;
	position: relative;
	display: inline-block;
	font-size: 15px;
}
.woocommerce-form-login .form-row input[type="checkbox"] {
    margin: 9px 5px 0;
	float: left;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    padding-left: 15px;
    padding-right: 15px;
	color: #0084b4;
}

.woocommerce form .form-row .input-checkbox {
	position: relative;
}

.custom_pkg_request > .row {
    margin: 0;
}