/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


a,
.text-primary,
.text-primary_h:hover,
.text-primary_b:before,
.text-primary_a:after,
.list > li > a:hover,
.pager li > a:hover,
.pager li > a:hover .icon,
.pagination_primary > li:first-child > a:hover,
.pagination_primary > li:first-child > a:hover .icon,
.pagination_primary > li:last-child > a:hover,
.pagination_primary > li:last-child > a:hover .icon,
.search-close:hover,
.entry-meta__link:hover,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.b-post-full .entry-footer .post-tags__link:hover {color: #A6007E;}


.bg-primary,
.bg-primary_h:hover,
.bg-primary_b:before,
.bg-primary_a:after,
.pagination_primary > .active > a,
.pagination_primary > .active > span,
.pagination_primary > .active > a,
.pagination_primary > .active > span,
.pagination_primary > li > a:hover,
.pagination_primary > li > a:focus,
.dropcap_primary:first-letter,
.tooltip-1 .tooltip-inner,
.btn-primary,
.forms__label-check-1:after,
.forms__label-radio-2:before,
.panel-default > .panel-heading,
.b-blockquote_w-quotes:before,
.b-blockquote_w-quotes-2:before,
.b-scale__decor:before,
.b-scale__decor:after,
.b-tabs-nav li:hover:after,
.b-tabs-nav li.active:after {background-color: #A6007E;}


.border_prim,
.border_prim_h:hover,
.pagination > .active > a,
.pagination > .active > span,
.pagination a:hover,
.pagination span:hover,
.pagination a:focus,
.pagination span:focus,
.progress_border_primary,
.btn-primary,
.forms__label-radio-2:before {border-color: #50903e;}

.border-t_prim,
.border-t_prim_h:hover,
.tooltip-1.top .tooltip-arrow,
.tooltip-1.top-left .tooltip-arrow,
.tooltip-1.top-right .tooltip-arrow {border-top-color: #50903e;}

.border-r_prim,
.border-r_prim_h:hover,
.tooltip-1.right .tooltip-arrow,
.btn-default .icon,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.b-post-full .entry-footer .post-tags__title .icon,
.comments-list .comment-btn .icon,
.btn-link .icon {border-right-color: #50903e;}

.border-b_prim,
.border-b_prim_h:hover,
.tooltip-1.bottom .tooltip-arrow,
.tooltip-1.bottom-left .tooltip-arrow,
.tooltip-1.bottom-right .tooltip-arrow,
.table_primary > thead > tr > th,
.collapse.in {border-bottom-color: #50903e;}

.border-l_prim,
.border-l_prim_h:hover,
.tooltip-1.left .tooltip-arrow,
.border-left_primary:before,
.pagination > li:last-child > a,
.pagination > li:last-child > span {border-left-color: #50903e;}




.text-second,
.text-second_h:hover,
.link-tooltip-2,
.forms__label-check-2:after,
.breadcrumb > li > a:hover,
.pagination_secondary > li:first-child > a:hover,
.pagination_secondary > li:first-child > a:hover .icon,
.pagination_secondary > li:last-child > a:hover,
.pagination_secondary > li:last-child > a:hover .icon,
.footer-list__link:hover,
.footer-contact__link:hover,
.widget-list__link:hover {color: #d2b829;}

.bg-second,
.bg-second_h:hover,
.tooltip-2 .tooltip-inner,
.dropcap_secondary:first-letter,
.pagination_secondary > .active > a,
.pagination_secondary > .active > span,
.pagination_secondary > .active > a,
.pagination_secondary > .active > span,
.pagination_secondary > li > a:hover,
.pagination_secondary > li > a:focus,
.forms__label-radio-1:before,
.yamm.nav>li>a:focus,
.yamm.nav>li>a:hover {background-color: #d2b829;}

.border_second,
.border_second_h:hover,
.progress_border_secondary,
.pagination_secondary > .active > a,
.pagination_secondary > .active > span,
.pagination_secondary > .active > a,
.pagination_secondary > .active > span,
.pagination_secondary > li > a:hover,
.pagination_secondary > li > a:focus,
.forms__label-radio-1:before {border-color: #d2b829;}

.border-t_second,
.border-t_second_h:hover,
.tooltip-2.top .tooltip-arrow,
.tooltip-2.top-left .tooltip-arrow,
.tooltip-2.top-right .tooltip-arrow {border-top-color: #d2b829;}

.border-r_second,
.border-r_second_h:hover,
.tooltip-2.right .tooltip-arrow {border-right-color: #d2b829;}

.border-l_second,
.border-l_second_h:hover,
.tooltip-2.left .tooltip-arrow {border-left-color: #d2b829;}

.border-b_second,
.border-b_second_h:hover,
.tooltip-2.bottom .tooltip-arrow,
.tooltip-2.bottom-left .tooltip-arrow,
.tooltip-2.bottom-right .tooltip-arrow,
.table_secondary > thead > tr > th {border-bottom-color: #d2b829;}


.icon-grad,
.icon-grad_h:hover,
.b-advantages-2:hover .b-advantages__icon,
.b-post-2 .entry-date,
.b-offers-nav__item.active .b-offers-nav__icon {background-image: -webkit-linear-gradient(131deg, #6e0c83 0%, #b03ac9 85%);}


.bg-grad-1,
.bg-hov-grad-1:hover,
.btn-grad-1,
.sp-image-container:after,
.area-bg_grad-1:after {background-image: linear-gradient(to right, #9b3098 0%, #6f0d83 100%);}

.icon-grad-2 {background-image: -webkit-linear-gradient(to right, #368527 0%, #d2b829 100%);}

.b-post-full .entry-date {background-image: linear-gradient(105deg, #368527 0%, #d2b829 100%);}


[data-off-canvas] li:hover a {
    color: #d2b829;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color:#333;
}
